@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --main-color: #1d2c3c;
    --custom-blue: #548bc5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    padding: 0;
    background-color: #f5f8fa;
}

.bold {
    font-weight: 700;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 12px;

    & svg {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    & ul {
        gap: 42px;
        align-items: center;

        & li {
            list-style-type: none;
            cursor: pointer;
            font-weight: 700;
            font-size: 14px;
            outline: 2px solid transparent;
            padding: 4px 8px;
        }

        & li:not(.button):focus-visible {
            outline: 2px solid var(--custom-blue);
            border-radius: 4px;
        }

        & li.button {
            padding: 8px 12px;
            border: 2px solid #646e7a;
            border-radius: 4px;
            color: var(--main-color);
        }

        & li.button:focus-visible {
            border: 2px solid var(--custom-blue);
            color: var(--custom-blue);
        }
    }
}

.divider {
    background-color: #e0e6ea;
    width: 100%;
    height: 2px;
}

.italic {
    font-style: italic;
}

.divider--light {
    background-color: #f5f7fa;
}

.divider--custom-blue {
    background-color: #4194cc;
}

main {
    display: grid;
    place-items: center;
    color: var(--main-color);
    margin-top: 64px;

    & div.container {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 85px 0;
        background: #fff;
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05),
            0px 15px 35px 0px rgba(43, 64, 78, 0.1);

        & section {
            flex: 2;

            & #mainHeader {
                padding: 32px;

                & h1 {
                    font-weight: 400;
                    font-size: 30px;
                    text-shadow: 2px 3px 6px #00000096;
                }
            }

            & .card-info {
                margin: 16px 0 40px 0;
            }

            & .info-container {
                & header {
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    padding: 8px 32px;
                    margin-top: 24px;
                    align-items: center;
                }

                & h3 {
                    color: var(--main-color);
                    font-size: 18px;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: -0.16px;
                }

                & .count {
                    padding: 6px 10px;
                    border: 2px solid var(--custom-blue);
                    border-radius: 100%;
                    color: var(--custom-blue);
                    font-weight: 600;
                }

                & input {
                    color: #646e7a;
                    border-radius: 3px;
                    background: #edeff2;
                    outline: none;
                    border: none;
                    padding: 10px 14px;
                    font-size: 14px;
                    outline: 2px solid transparent;
                }

                & input:not([aria-label^="Card"]):focus-visible {
                    outline: 2px solid var(--custom-blue);
                }

                & .fieldset-container {
                    display: grid;
                    padding: 8px 32px;

                    & .flex {
                        display: flex;
                        flex-direction: row;
                        gap: 30px;
                    }

                    & .email-container {
                        margin: 16px 0 40px 0;
                        width: 70%;
                    }
                }

                & .fieldset {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 100%;
                }

                & .card-container {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    margin-top: 8px;
                    padding: 0 32px;

                    & label {
                        font-weight: 400;
                        color: #1d2c3c;
                        font-size: 14px;
                    }
                }

                & .card-fieldset {
                    display: flex;
                    background: #edeff2;
                    border-radius: 4px;
                    flex-direction: row;
                    gap: 4px;
                    max-width: 480px;
                }

                & .card-fieldset:focus-within {
                    outline: 2px solid var(--custom-blue);
                }

                & .card-fieldset input:first-child {
                    width: 100%;
                }

                & input[type="month"] {
                    width: 250px;
                }

                & .card-fieldset input:last-child {
                    width: 64px;
                }
            }

            & .checkout-footer-container {
                display: flex;
                flex-direction: column;
                padding: 0 64px;

                &>div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 8px;
                    margin: 8px auto;
                }

                & button {
                    margin-top: 32px;
                    background-color: #038e7d;
                    color: white;
                    font-size: 18px;
                    padding: 8px;
                    width: 100%;
                    padding: 12px;
                    border-radius: 8px;
                    outline: none;
                    border: none;
                }

                & button:focus-visible {
                    outline: 1px solid rgb(0, 68, 0);
                }

                & .question-mark {
                    padding: 4px 10px;
                    border: 2px solid var(--custom-blue);
                    border-radius: 100%;
                    color: var(--custom-blue);
                    font-weight: 900;
                }

                & .help-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    & span {
                        font-weight: 600;
                    }

                    & p {
                        font-weight: 400;
                        color: #646e7a;
                    }
                }
            }

            & .stripe-container {
                width: 100%;
                display: grid;
                place-items: center;
            }
        }

        & aside {
            height: 100%;
            background-color: #1179bf;
            flex: 1;
            padding: 42px 40px;
            color: white;

            & a {
                text-decoration-color: white;

                color: white;
            }

            & a:focus-visible {
                outline: 1px solid white;
            }

            & .price-container {
                display: flex;
                flex-direction: row;
                align-items: end;

                & .small {
                    font-size: 18px;
                    font-weight: 700;
                }

                & .big {
                    font-size: 60px;
                    font-weight: 300;
                }

                & .top {
                    align-self: flex-start;
                    margin-top: 8px;
                    font-size: 24px;
                }
            }

            & h2 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.01px;
            }

            & ul {
                padding: 0;
                margin-top: 38px;
                display: flex;
                flex-direction: column;
                gap: 12px;

                & li {
                    display: flex;
                    flex-direction: row;
                    gap: 11px;
                    align-items: center;

                    & p {
                        margin: 0;
                    }
                }
            }

            .agency-plan {
                margin-top: 36px;
                margin-bottom: 42px;

                & p {
                    margin: 8px 0;
                }

            }

            & #renew-notice {
                font-size: 16px;
                font-style: italic;
                font-weight: 400;
                margin-top: 12px;
                max-width: 70%;
            }

            & .pitch {
                margin-top: 41px;

                & p {
                    font-style: italic;
                    font-weight: 400;
                }

                .author {
                    margin-top: 32px;
                    display: flex;
                    flex-direction: row;
                    gap: 12px;
                    align-items: center;

                    & img {
                        border-radius: 100%;
                    }

                }
            }
        }
    }
}

footer {
    display: grid;
    margin-top: 32px;
    place-content: center;
    color: #636B6F;
    font-size: 14px;

    & #TOS {
        color: #31708F;
        text-decoration: none;

    }

    & #TOS:focus-visible {
        outline: 1px solid var(--custom-blue);
    }
}

@media (min-width: 930px) {
    body {
        padding: 0 40px;
    }

    nav {
        padding: 30px 0;
    }

    div.container {
        border-radius: 6px;
        max-width: 892px;
    }
}

@media (max-width: 750px) {
    aside {
        display: none;
    }

    nav>ul {
        display: none;
    }

    nav>svg {
        display: block;
    }
}

@media (min-width: 750px) {
    nav>ul {
        display: flex;
    }

    nav>svg {
        display: none;
    }
}